---
title: GitLab details AI-assisted features in the DevSecOps platform
author: Sid Sijbrandij
author_gitlab:
author_twitter:
categories: ai-ml
tags: news, features, AI/ML, DevSecOps
description: In a fireside chat, CEO and co-founder Sid Sijbrandij shared demos of AI-assisted features available today in gitlab.com.
image_title: /images/blogimages/ai-fireside-chat.png
featured: yes
twitter_text: GitLab CEO Sid Sijbrandij @sytses shares details and demos of AI-assisted
  features available today in the DevSecOps platform.
---
This morning, GitLab’s Chief Financial Officer Brian Robins and I led a fireside chat focused on [GitLab’s AI strategy](https://ir.gitlab.com/news-releases/news-release-details/gitlab-hold-ai-fireside-chat-sid-sijbrandij), AI’s role in solving customer pain points, and our AI product roadmap.

AI marks a big industry shift that will make it easier to develop, secure, and operate software. We plan to infuse AI throughout the software development lifecycle by incorporating it into our comprehensive enterprise DevSecOps platform.

We will lead with a customer-centric approach focused on privacy first, where customers know their intellectual property is secured. One way we are accomplishing this is with [our recently announced generative AI partnership with Google](https://about.gitlab.com/press/releases/2023-05-02-gitLab-and-google-cloud-partner-to-expand-ai-assisted-capabilities.html). This will allow GitLab to use Google's generative AI foundation models to provide customers with AI-powered offerings within our cloud infrastructure. We’ll maintain our commitment to protecting user privacy by containing customer intellectual property and source code within GitLab's cloud infrastructure.

Watch the AI fireside chat:

<!-- blank line -->
<figure class="video_container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/ejWeMdVz8Nk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</figure>
<!-- blank line -->


During the fireside chat, we introduced AI-assisted features available to GitLab customers today on gitlab.com. We provided a live demo of these capabilities that can be utilized by everyone throughout the software development lifecycle. 


![List of AI-assisted capabilities](/images/blogimages/ai-assisted-capabilities-detailed.png){: .shadow}


We also discussed how these capabilities are focused on three personas: development, security and operations teams, and have features available for all users. Watch the demos for these capabilities available on gitlab.com today:


<!-- blank line -->
<figure class="video_container">
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ILJeqWoVswM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</figure>
<!-- blank line -->


## AI for Developer Teams 

### Code Suggestions
- Enables developers to write code more efficiently by viewing code suggestions as they type. 
Learn more about [Code Suggestions](/blog/2023/03/23/ai-assisted-code-suggestions/).

### Suggested Reviewers
- Helps customers receive faster and higher quality reviews by automatically finding the right people to review a merge request.
Learn more about [Suggested Reviewers](https://docs.gitlab.com/ee/user/project/merge_requests/reviews/data_usage.html).

### Summarize MR Changes
- Helps merge request authors to drive alignment and action by efficiently communicating the impact of their changes.
Learn more about [Summarize MR Changes](/blog/2023/04/20/merge-request-changes-summary-ai/).

### Summarize My MR Review
- Enables better handoffs between authors and reviewers and helps reviewers efficiently understand many merge request suggestions. 
Learn more about [Summarize My MR Review](/blog/2023/05/18/summarize-my-merge-request-review/).

## AI for Security and Operations

### Explain This Vulnerability
- Helps developers remediate vulnerabilities more efficiently and uplevel their skills, enabling them to write more secure code.
Learn more about [Explain This Vulnerability](/blog/2023/05/02/explain-this-vulnerability/).

### Generate Tests in MRs
- Automates repetitive tasks for developers and helps them catch bugs early.
Learn more about [Generate Tests in MRs](/blog/2023/04/27/merge-request-suggest-a-test/).

### Explain This Code
- Allows DevSecOps teams to get up to speed quickly on code.
Learn more about [Explain This Code](/blog/2023/04/06/explain-this-code/).

## AI for everyone

### Issue Comment Summaries
- Quickly gets everyone up to speed on lengthy conversations to ensure they are all on the same page.
Learn more about [Issue Comment Summaries](/blog/2023/04/13/summarize-issues/).

### GitLab Chat
- Helps quickly identify useful information in large volumes like documentation.
Learn more about [GitLab Chat](https://gitlab.com/groups/gitlab-org/-/epics/10220).

### Value Stream Forecasting
- Predicts productivity metrics and identifies anomalies across your software development lifecycle.
Learn more about [Value Stream Analytics](https://docs.gitlab.com/ee/user/group/value_stream_analytics/).

These are just the beginning of many features we have in the works leveraging generative AI to provide our customers AI-assisted features across our DevSecOps platform. With our value of iteration at the heart of our work, we are actively improving all the capabilities we announced today as well as introducing new capabilities. [AI is in all we do](/company/yearlies/#fy24-yearlies) and we intend to ship many capabilities throughout the year as they become ready.  

<i>Want to follow along with GitLab’s journey to [build and integrate AI/ML into our DevSecOps platform](/blog/2023/04/24/ai-ml-in-devsecops-series/)? The first blog post in our series can be found [here](/blog/2023/03/16/what-the-ml-ai/). Throughout the series, we’ll feature blogs from our product, engineering, and UX teams to showcase how we’re infusing AI/ML into GitLab.</i>



